<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weefeesecure.wifisecure">

    <!--Permissions to access and change WiFi state-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!--Changes WiFi state and scan results-->
    <!--
    <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
    <action android:name="android.net.wifi.SCAN_RESULTS"/>
    -->
    <!--Permissions to access internet-->
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!--
            <receiver  android:name="WifiStateChangeReceiver">
                <intent-filter>
                    <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                    <action android:name="android.net.wifi.STATE_CHANGE"/>
                </intent-filter>
            </receiver>
            -->

        </activity>
        <!-- in order to access the WifiManage.getScanResults()  -->

        <!--
        <receiver
            android:name="com.weefeesecure.wifisecure.MainActivity$WifiReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"></action>
                <action android:name="android.net.wifi.SCAN_RESULTS"></action>
            </intent-filter>
        </receiver>
        -->
    </application>




</manifest>
